:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  --main-color: #fe8c00;
}

body {
  margin: 0;
  background: #f6f7fb;
  color: #1f2937;
}

main {
  max-width: 920px;
  margin: 0 auto;
  padding: 16px;
}

header {
   color: var(--main-color);
   padding: 0 12px;
}